<?xml version="1.0"?>
<robot name="human" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find ariac_description)/urdf/human/human_macro.xacro" />

  <xacro:include filename="$(find ariac_description)/urdf/human/diffbot.gazebo.xacro" />

  <xacro:human prefix="$(arg prefix)" />

  <xacro:diffbot_gazebo prefix="$(arg prefix)" />

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>ros2_control_demo_hardware/DiffBotSystemHardware</plugin>
      <param name="example_param_hw_start_duration_sec">0</param>
      <param name="example_param_hw_stop_duration_sec">3.0</param>
    </hardware>
    <joint name="left_wheel_joint">
      <command_interface name="velocity">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_wheel_joint">
      <command_interface name="velocity">
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <ros>
        <namespace>/human</namespace>
      </ros>
      <parameters>$(find ariac_description)/config/human_controllers.yaml</parameters>
      <robot_param_node>/human/robot_state_publisher</robot_param_node>
    </plugin>
  </gazebo>

</robot>