<?xml version="1.0" ?>

<robot name="kitting_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Include linear actuator macro -->
  <xacro:include filename="$(find ariac_description)/urdf/linear_actuator_macro.xacro"/>

  <!-- Inclue ur robot macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:arg name="initial_positions_file" default="$(find ariac_description)/config/kitting_robot_initial_positions.yaml"/>
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

  <!-- Create a world link -->
  <link name="world" />

  <!-- Run linear actuator macro -->
  <xacro:linear_actuator
    parent="world"
    initial_positions="${load_yaml(initial_positions_file)}"
    >
  </xacro:linear_actuator>

  <!-- Run ur macro -->
  <xacro:ur_robot
    name="kitting_arm"
    prefix="kitting_"
    parent="robot_base"
    joint_limits_parameters_file="$(find ur_description)/config/ur10e/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur10e/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur10e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur10e/visual_parameters.yaml"
    sim_gazebo="true"
    initial_positions="${load_yaml(initial_positions_file)}">
    <origin xyz="0 0 0.025" rpy="0 0 0" />
  </xacro:ur_robot>

  <gazebo 
    reference="world">
  </gazebo>
  
  <xacro:arg name="controllers" default="$(find ariac_description)/config/kitting_robot_controllers.yaml" />

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <ros>
        <namespace>/kitting</namespace>
      </ros>
      <parameters>$(arg controllers)</parameters>
      <robot_param_node>/kitting/robot_state_publisher</robot_param_node>
    </plugin>
  </gazebo>

</robot>
