<?xml version="1.0"?>

<robot name="agv" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Include macro -->
  <xacro:include filename="$(find ariac_description)/urdf/AGV/agv_macro.xacro"/>

  <xacro:arg name="agv_number" default="agv_1"/>
  <xacro:property name="agv_number" default="$(arg agv_number)"/>

  <xacro:arg name="y_position" default="0"/>
  <xacro:property name="y_position" default="$(arg y_position)"/>

  <!-- Create a world link -->
  <link name="world"/>

  <!-- Run agv macro -->
  <xacro:agv
    agv_number="$(arg agv_number)"
    y_position="$(arg y_position)"
    >
  </xacro:agv>

  <gazebo 
    reference="world">
  </gazebo>

  <xacro:arg name="controllers" default="$(find ariac_description)/config/agv_controllers.yaml" />

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <ros>
        <namespace>/$(arg agv_number)</namespace>
      </ros>
      <parameters>$(arg controllers)</parameters>
      <robot_param_node>/$(arg agv_number)/robot_state_publisher</robot_param_node>
    </plugin>
  </gazebo>

</robot>