# Trial Name: qc.yaml
# ARIAC2023

# ENVIRONMENT SETUP

time_limit: -1 # options: -1 (no time limit) or number of seconds (max 500)

kitting_trays: # Which kitting trays will be spawn
  tray_ids: [1] 
  slots: [1]

gripper_types: ['part', 'tray'] # Possible gripper types

parts:
  agvs:
    agv4:
      tray_id: 1
      parts:
        - type: 'sensor'
          color: 'blue'
          quadrant: 3
          rotation: 'pi'
          flipped: true
        - type: 'pump'
          color: 'green'
          quadrant: 1
          rotation: 0
  
  bins: # bin params - 8 total bins each bin has nine total slots (1-9)

  conveyor_belt: # population params for conveyor belt
    active: false
    spawn_rate: 3.0 # seconds between spawn
    order: 'random' # random or sequential
    parts_to_spawn:
      - type: 'battery'
        color: 'red'
        number: 5
        offset: 0.5 # between -1 and 1
        flipped: false
        rotation: 'pi/6'
      - type: 'sensor'
        color: 'green'
        number: 5
        offset: -0.25 # between -1 and 1
        flipped: true
        rotation: 'pi'
        
# GLOBAL CHALLENGE

global_challenges:
  dropped_part:
    robot: 'ceiling_robot'
    type: 'battery'
    color: 'green'
    drop_after: 1 # third part the robot successfully picks
    delay: 1 # seconds

# ORDER SETUP

orders:
  - id: 'MMB30H56'
    type: 'kitting'
    announcement_time: 0
    priority: false
    challenges:
      flipped_part:
        quadrant: 1
    kitting_task:
      agv_number: 2
      tray_id: 3
      destination: 'warehouse'
      products:
        - type: 'battery'
          color: 'blue'
          quadrant: 1
        - type: 'pump'
          color: 'red'
          quadrant: 3