<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/diffbot_description/urdf/diffbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find ariac_description)/urdf/diffbot/diffbot_description.urdf.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find ariac_description)/urdf/diffbot/diffbot.gazebo.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find ariac_description)/urdf/diffbot/diffbot.materials.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find ariac_description)/urdf/diffbot/diffbot.ros2_control.xacro" />

  <xacro:diffbot prefix="$(arg prefix)" />

  <xacro:diffbot_gazebo prefix="$(arg prefix)" />

  <xacro:diffbot_ros2_control
    name="DiffBotSystem" 
    prefix="$(arg prefix)"/>

  <gazebo 
    reference="world">
  </gazebo>
  
  <xacro:arg name="controllers" default="$(find ariac_description)/config/diffbot_controllers.yaml" />

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(arg controllers)</parameters>
    </plugin>
  </gazebo>

</robot>